<html>
	<head>
		<title>Order Confirmation</title>
	</head>

<body>
	<h1>Order Confirmation</h1>
	<p>Hello {{ customer_name }},</p>
	<p>Thank you for shopping with us.</p>
	<br/>
	<h3>Details</h3>
	<p>Order #{{ order_number }}</p>
	<p>Item(s) list:</p>

	<ul>
		{% for item in item_list %}
		<li>{{ forloop.counter }} {{ item }}</li>
		{% empty %}
		<li>There are no item</li>
		{% endfor %}
	</ul>

	{% if express_delivery %}
		<p>Express delivery: YES</p>
	{% else %}
		<p>Express delivery: NO</p>
	{% endif %}

</body>
</html>
